// Button box
.o_form_view .oe_button_box_left {
    width: 400px;
    text-align: left;
    float: left;
    margin-bottom: 4px;

    &, & + .oe_avatar {
        + .oe_title {
            width: 400px;
        }
    }

    // TODO remove me in master (this rule is a copy of the one in the
    // bootstrap_review.scss file)
    + .alert {
        clear: both;
    }

    .oe_stat_button {
        color: $o-main-text-color;
        text-align: left;
        width: 132px !important;
        height: 40px;
        margin: 0px -1px -1px 0px;
        padding: 0;
        border-radius: 0;
        border-color: #ccc;
        background: white;
        outline: none;

        &:hover {
            background-color: #e6e6e6;
        }

        .o_button_icon {
            display: inline-block;
            width: 37px;
            padding: 0px 3px;
            text-align: center;
            vertical-align: middle;
            color: #7C7BAD;
            font-size: 24px;
        }

        // Some buttons only display text without using StatInfo template
        .o_stat_info, > span { // contains the value and text
            display: inline-block;
            vertical-align: middle;
            max-width: 70%;
            line-height: 1.2;

            > .o_stat_value, > .o_stat_text {
                @include o-text-overflow(block);
            }

            .o_stat_value {
                font-weight: 700;
                color: $o-brand-odoo;
            }
            .o_stat_text {
                font-size: small;
            }
        }
        > span {
            font-size: small;
            white-space: normal; // text on several lines if needed
        }

        > div {
            text-align: left;
            padding: 0;
            line-height: 120%;
            vertical-align: middle;
        }
    }

    &.o_full {
        position: relative;
        .o_button_more {
            padding: 0 10px;
        }
        .o_dropdown_more {
            @include o-position-absolute($top: 100%, $right: 0);
            min-width: 0;
            padding: 0px;
        }
    }
}